.app-footer {
  background-color: #222;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links a {
  color: white;
  margin: 0 15px;
  font-weight: 500;
}

.footer-links a:hover {
  text-decoration: underline;
}

.social-media button {
  color: white;
  margin: 0 10px;
}

.footer-bottom p {
  margin-top: 10px;
  font-size: 0.9em;
  color: #bbb;
}
