<footer class="app-footer">
  <div class="footer-content">
    <div class="footer-links">
      <a mat-button routerLink="/privacy-policy">Privacy Policy</a>
      <a mat-button routerLink="/terms">Terms & Conditions</a>
      <a mat-button routerLink="/about">About Us</a>
    </div>
    <div class="social-media">
      <button mat-icon-button>
        <mat-icon>facebook</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>twitter</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>linkedin</mat-icon>
      </button>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 TicketMaster. All rights reserved.</p>
  </div>
</footer>
